In [1]:
import pandas as pd
import numpy as np

In [66]:
#import data from a csv file
df = pd.read_csv('C:/Users/User/Desktop/Datasets Portfolio/Airbnb_Open_Data.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_18644\46818961.py:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/User/Desktop/Datasets Portfolio/Airbnb_Open_Data.csv')

In [10]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [67]:
#Cleaning the data
missing_data = df.isnull()

#using a loop to count missing data for each variable/observation
for column in missing_data:
    print(column)
    print(missing_data[column].value_counts()) 
    print(' ')

id
False    102599
Name: id, dtype: int64

NAME
False    102349
True        250
Name: NAME, dtype: int64

host id
False    102599
Name: host id, dtype: int64

host_identity_verified
False    102310
True        289
Name: host_identity_verified, dtype: int64

host name
False    102193
True        406
Name: host name, dtype: int64

neighbourhood group
False    102570
True         29
Name: neighbourhood group, dtype: int64

neighbourhood
False    102583
True         16
Name: neighbourhood, dtype: int64

lat
False    102591
True          8
Name: lat, dtype: int64

long
False    102591
True          8
Name: long, dtype: int64

country
False    102067
True        532
Name: country, dtype: int64

country code
False    102468
True        131
Name: country code, dtype: int64

instant_bookable
False    102494
True        105
Name: instant_bookable, dtype: int64

cancellation_policy
False    102523
True         76
Name: cancellation_policy, dtype: int64

room type
False    102599
Name: room type, dtype: int64

Construction year
False    102385
True        214
Name: Construction year, dtype: int64

price
False    102352
True        247
Name: price, dtype: int64

service fee
False    102326
True        273
Name: service fee, dtype: int64

minimum nights
False    102190
True        409
Name: minimum nights, dtype: int64

number of reviews
False    102416
True        183
Name: number of reviews, dtype: int64

last review
False    86706
True     15893
Name: last review, dtype: int64

reviews per month
False    86720
True     15879
Name: reviews per month, dtype: int64

review rate number
False    102273
True        326
Name: review rate number, dtype: int64

calculated host listings count
False    102280
True        319
Name: calculated host listings count, dtype: int64

availability 365
False    102151
True        448
Name: availability 365, dtype: int64

house_rules
True     52131
False    50468
Name: house_rules, dtype: int64

license
True     102597
False         2
Name: license, dtype: int64

In [68]:
#p'itwDropping latitude and longitude observations as they are not
df.drop(columns=['lat', 'long'], axis = 1)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,country,country code,instant_bookable,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,United States,US,False,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,United States,US,False,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,United States,US,True,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,United States,US,True,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,United States,US,False,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,United States,US,False,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,United States,US,True,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,United States,US,True,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,United States,US,True,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,United States,US,False,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [32]:
#Check if it is possible to replace null values with a common name
df['NAME'].value_counts()

'Home away from home'

In [117]:
df.dropna(subset = ['NAME','host name', ], axis = 0, inplace = True)

# reset index, because we dropped null valued rows
df.reset_index(drop=True, inplace=True)

In [70]:
df['host_identity_verified'].value_counts()

unconfirmed    50889
verified       50784
Name: host_identity_verified, dtype: int64

In [71]:
#Replace null valued observations with unconfirmed since it is common among the observation
df['host_identity_verified'].replace(np.nan, 'unconfirmed', inplace = True)

df['host_identity_verified'].value_counts()

missing_dat = df.isnull()
for column in missing_dat:
    print(column)
    print(missing_dat[column].value_counts()) 
    print(' ')

id
False    101949
Name: id, dtype: int64

NAME
False    101949
Name: NAME, dtype: int64

host id
False    101949
Name: host id, dtype: int64

host_identity_verified
False    101949
Name: host_identity_verified, dtype: int64

host name
False    101949
Name: host name, dtype: int64

neighbourhood group
False    101923
True         26
Name: neighbourhood group, dtype: int64

neighbourhood
False    101933
True         16
Name: neighbourhood, dtype: int64

lat
False    101941
True          8
Name: lat, dtype: int64

long
False    101941
True          8
Name: long, dtype: int64

country
False    101423
True        526
Name: country, dtype: int64

country code
False    101827
True        122
Name: country code, dtype: int64

instant_bookable
False    101853
True         96
Name: instant_bookable, dtype: int64

cancellation_policy
False    101879
True         70
Name: cancellation_policy, dtype: int64

room type
False    101949
Name: room type, dtype: int64

Construction year
False    101749
True        200
Name: Construction year, dtype: int64

price
False    101710
True        239
Name: price, dtype: int64

service fee
False    101681
True        268
Name: service fee, dtype: int64

minimum nights
False    101546
True        403
Name: minimum nights, dtype: int64

number of reviews
False    101767
True        182
Name: number of reviews, dtype: int64

last review
False    86172
True     15777
Name: last review, dtype: int64

reviews per month
False    86186
True     15763
Name: reviews per month, dtype: int64

review rate number
False    101635
True        314
Name: review rate number, dtype: int64

calculated host listings count
False    101631
True        318
Name: calculated host listings count, dtype: int64

availability 365
False    101529
True        420
Name: availability 365, dtype: int64

house_rules
True     51867
False    50082
Name: house_rules, dtype: int64

license
True     101947
False         2
Name: license, dtype: int64

In [72]:
df['neighbourhood group'].value_counts()

Manhattan        43512
Brooklyn         41574
Queens           13190
Bronx             2696
Staten Island      949
brookln              1
manhatan             1
Name: neighbourhood group, dtype: int64

In [93]:
#replace the brookln and manhatan observation with the correct name spelling, renaming did not 
df['neighbourhood group'].replace('brookln','Brooklyn', inplace=True)
df['neighbourhood group'].replace('manhatan','Manhattan', inplace=True)

df['neighbourhood group'].value_counts()

Manhattan        43513
Brooklyn         41575
Queens           13190
Bronx             2696
Staten Island      949
Name: neighbourhood group, dtype: int64

In [91]:
df['neighbourhood group'].value_counts()

Manhattan        43512
Brooklyn         41574
Queens           13190
Bronx             2696
Staten Island      949
brookln              1
manhatan             1
Name: neighbourhood group, dtype: int64

In [94]:
df['neighbourhood group'].replace(np.nan, 'Manhattan', inplace=True)

In [95]:
df['neighbourhood'].value_counts()

Bedford-Stuyvesant        7886
Williamsburg              7720
Harlem                    5420
Bushwick                  4954
Hell's Kitchen            3938
                          ...
Willowbrook                  3
Gerritsen Beach              3
Fort Wadsworth               2
Glen Oaks                    2
Chelsea, Staten Island       1
Name: neighbourhood, Length: 224, dtype: int64

In [96]:
df['neighbourhood'].replace(np.nan, 'Bedford-Stuyvesant', inplace=True)
df['neighbourhood'].value_counts()

Bedford-Stuyvesant        7902
Williamsburg              7720
Harlem                    5420
Bushwick                  4954
Hell's Kitchen            3938
                          ...
Willowbrook                  3
Gerritsen Beach              3
Fort Wadsworth               2
Glen Oaks                    2
Chelsea, Staten Island       1
Name: neighbourhood, Length: 224, dtype: int64

In [97]:
df['country'].value_counts()

United States    101423
Name: country, dtype: int64

In [98]:
df['country'].replace(np.nan, 'United States', inplace=True)
df['country'].value_counts()

United States    101949
Name: country, dtype: int64

In [99]:
df['country code'].value_counts()

US    101827
Name: country code, dtype: int64

In [103]:
df['country code'].replace(np.nan, 'US', inplace=True)
df['country code'].value_counts()

US    101949
Name: country code, dtype: int64

In [105]:
df['instant_bookable']

0         False
1         False
2          True
3         False
4          True
          ...
101944    False
101945     True
101946     True
101947     True
101948    False
Name: instant_bookable, Length: 101949, dtype: object

In [106]:
df['instant_bookable'].value_counts()

False    51156
True     50697
Name: instant_bookable, dtype: int64

In [108]:
df['instant_bookable'].replace(np.nan, 'False', inplace=True)

In [110]:
df['cancellation_policy'].value_counts()

moderate    34126
strict      33885
flexible    33868
Name: cancellation_policy, dtype: int64

In [111]:
df['cancellation_policy'].replace(np.nan, 'moderate', inplace = True)

moderate    34196
strict      33885
flexible    33868
Name: cancellation_policy, dtype: int64

In [113]:
df['Construction year']

0         2020.0
1         2007.0
2         2005.0
3         2009.0
4         2013.0
           ...
101944    2003.0
101945    2016.0
101946    2009.0
101947    2015.0
101948    2010.0
Name: Construction year, Length: 101949, dtype: float64

In [114]:
avg_constr = df['Construction year'].astype('float').mean(axis=0)
print(avg_constr)

2012.486314361812

In [115]:
df['Construction year'].replace(np.nan, avg_constr, inplace=True)

In [121]:
df.dropna(subset=["price"], axis=0, inplace=True)
df['price']

0           $966
1           $142
2           $620
3           $204
4           $577
           ...
101705      $844
101706      $837
101707      $988
101708      $546
101709    $1,032
Name: price, Length: 101710, dtype: object

In [ ]:
#Removing the dollar sign before the integer
df[['price']]=df[['price']].replace('[\$]','', regex = True)
df['price']

In [123]:
df['service fee']

0         $193
1          $28
2         $124
3          $41
4         $115
          ...
101705    $169
101706    $167
101707    $198
101708    $109
101709    $206
Name: service fee, Length: 101710, dtype: object

In [130]:
#Removing the dollar sign before the integer
df[['service fee']]=df[['service fee']].replace('[\$]','', regex = True)
df['service fee']

0         193
1          28
2         124
3          41
4         115
          ...
101705    169
101706    167
101707    198
101708    109
101709    206
Name: service fee, Length: 101710, dtype: object

In [131]:
avg_servfee = df['service fee'].astype('float').mean(axis=0)
print(avg_servfee)

125.04145026657862

In [132]:
df['service fee'].replace(np.nan, avg_servfee, inplace = True)

In [135]:
df['minimum nights'].value_counts()

1.0      25199
2.0      23412
3.0      15981
30.0     11540
4.0       6569
         ...
74.0         1
198.0        1
43.0         1
160.0        1
825.0        1
Name: minimum nights, Length: 151, dtype: int64

In [136]:
avg_min_nights = df['minimum nights'].astype('float').mean(axis=0)
print(avg_min_nights)

8.112410790962125

In [137]:
df['minimum nights'].replace(np.nan, avg_min_nights, inplace=True)

In [139]:
df['number of reviews']

0          9.0
1         45.0
2          0.0
3          9.0
4         74.0
          ...
101705     0.0
101706     1.0
101707     0.0
101708     5.0
101709     0.0
Name: number of reviews, Length: 101710, dtype: float64

In [140]:
avg_min_rev = df['number of reviews'].astype('float').mean(axis=0)
print(avg_min_rev)

27.482773225120162

In [141]:
df['number of reviews'].replace(np.nan, avg_min_rev, inplace=True)

In [146]:
df['reviews per month'].value_counts()

0.03     1662
0.05     1467
1.00     1446
0.04     1265
0.09     1248
         ...
9.23        1
9.10        1
10.36       1
8.50        1
33.08       1
Name: reviews per month, Length: 1015, dtype: int64

In [147]:
avg_rev_permon = df['reviews per month'].astype('float').mean(axis=0)
print(avg_rev_permon)

1.3760210763844463

In [148]:
df['reviews per month'].replace(np.nan, avg_rev_permon, inplace=True)

In [151]:
df['review rate number']

0         4.0
1         4.0
2         5.0
3         3.0
4         3.0
         ...
101705    3.0
101706    2.0
101707    5.0
101708    3.0
101709    3.0
Name: review rate number, Length: 101710, dtype: float64

In [152]:
avg_rev_rate = df['review rate number'].astype('float').mean(axis=0)
print(avg_rev_rate)

3.279005088958144

In [153]:
df['review rate number'].replace(np.nan, avg_rev_rate, inplace=True)

In [154]:
df['calculated host listings count']

0         6.0
1         2.0
2         1.0
3         1.0
4         1.0
         ...
101705    1.0
101706    2.0
101707    1.0
101708    1.0
101709    1.0
Name: calculated host listings count, Length: 101710, dtype: float64

In [155]:
avg_host_listing = df['calculated host listings count'].astype('float').mean(axis=0)
print(avg_host_listing)

7.938269291462837

In [156]:
df['calculated host listings count'].replace(np.nan, avg_host_listing, inplace=True)

In [203]:
df.rename(columns ={'calculated host listings count':'host_listings'}, inplace = True)

In [158]:
df['availability 365']  #availability of a listing 365 days in advance

0         286.0
1         228.0
2         352.0
3         289.0
4         374.0
          ...
101705    227.0
101706    395.0
101707    342.0
101708    386.0
101709     69.0
Name: availability 365, Length: 101710, dtype: float64

In [159]:
avg_avail365 = df['availability 365'].astype('float').mean(axis=0)
print(avg_avail365)

141.23042748543784

In [160]:
df['availability 365'].replace(np.nan, avg_avail365, inplace=True)

In [210]:
df.rename(columns ={'availability 365':'avail_365'}, inplace = True)

In [165]:
df['house_rules'].value_counts().idxmax()

'#NAME?'

In [166]:
df['house_rules'].replace(np.nan, 'No rules', inplace=True)

In [168]:
df['license'].isnull()

0         True
1         True
2         True
3         True
4         True
          ...
101705    True
101706    True
101707    True
101708    True
101709    True
Name: license, Length: 101710, dtype: bool

In [169]:
df.drop('license', axis = 1, inplace = True)

In [170]:
df.isnull()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101705,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
101706,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
101707,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
101708,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
101709,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [173]:
df['last review'].value_counts()

6/23/2019     2428
6/30/2019     2211
7/1/2019      2197
6/24/2019     1494
7/7/2019      1139
              ...
3/29/2021        1
5/24/2014        1
12/22/2014       1
7/10/2014        1
10/13/2014       1
Name: last review, Length: 2459, dtype: int64

In [184]:
df.dropna(subset = ['last review', ], axis = 0, inplace = True)

# reset index, because we dropped null valued rows
df.reset_index(drop=True, inplace=True)

In [ ]:
df.drop(['lat', 'long'], axis = 1, inplace=True)

In [201]:
df.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                             float64
service fee                       float64
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
dtype: object

In [199]:
#changing the data into the correct data type format
#Removing the dollar sign and the comma before the integer
df[['price']]=df[['price']].replace('[\$\,]','', regex = True).astype('float')
df['price']

0         966.0
1         142.0
2         204.0
3         577.0
4          71.0
          ...
85953     618.0
85954    1139.0
85955    1099.0
85956     837.0
85957     546.0
Name: price, Length: 85958, dtype: float64

In [200]:
df[['service fee']]=df[['service fee']].replace('[\,]','', regex = True).astype('float')
df['service fee']

0        193.0
1         28.0
2         41.0
3        115.0
4         14.0
         ...
85953    124.0
85954    228.0
85955    220.0
85956    167.0
85957    109.0
Name: service fee, Length: 85958, dtype: float64

In [211]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,country,country code,instant_bookable,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,host_listings,avail_365,house_rules
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,United States,US,False,...,966.0,193.0,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,United States,US,False,...,142.0,28.0,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,United States,US,False,...,204.0,41.0,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
3,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,United States,US,True,...,577.0,115.0,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs."
4,1004650,BlissArtsSpace!,61300605564,unconfirmed,Alberta,Brooklyn,Bedford-Stuyvesant,United States,US,False,...,71.0,14.0,45.0,49.0,10/5/2017,0.40,5.0,1.0,224.0,Please no shoes in the house so bring slippers...